<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Chat</title>
</head>
<body>
  <form>
    <input type="text" name="username" placeholder="Name" />
    <select name="room">
      <option>JavaScript</option>
      <option>JavaScript</option>
      <option>JavaScript</option>
    </select>
  </form

  
  
  <script src="/app.js"></script>
</body>
</html>